


body {
			font-family: Tahoma, Geneva, sans-serif;
			fill: white;
			font-size: 12px;
			background-color: #171f3e;
			color:white
		}

.axis path, .axis line {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;
}

.y .tick text, .x .tick text{
    font-size:8px;
    fill: #666;    
    font-family: Tahoma, Geneva, sans-serif;
}

.donutData.name text{
font-size:8px;
    fill: white;    
    font-family: Tahoma, Geneva, sans-serif;
}

.dot {
    fill-opacity: 0.1;
    fill: blue;
}

.high-dew{
    fill: red;
}

.low-dew{
    fill: green;
}

svg.board {
    background: #171f3e;
}