



.sunup-outline, .sunup-inline, .moonup-outline, .moonup-inline, .downline {
    fill: none;
    stroke: #000;
    stroke-width: 1px;
}
.downline { stroke: #ccc; }

.sunup-outline { stroke: #000; }
.sunup-inline, .moon-inline { stroke: #999; }
.moonup-outline { stroke: #000; }


.sun-fill {
    fill: #FFFACD;
    stroke: none;
}

.moon-fill {
    fill: #e8f6ff;
    /*
    stroke-width: 1px;
    stroke: #d0dde5;
    */
}


.sundown { 
    stroke: red; 
}


.axis path, .axis line, .outer-arc {
  fill: none;
  stroke: #333;
  stroke-width: 0.5px;
}

.dashed line,
.dashed circle {
  fill: none;
  stroke: #999;
  stroke-dasharray: 1,3;
}

.day-label{
    font: 10px sans-serif;
}

