

.axis text {
  font: 4px sans-serif;
}

.axis line,
.axis circle {
  fill: none;
  stroke: #aaa;
  stroke-dasharray: .5,2;
  stroke-width: .5px
}

.axis :last-of-type circle {
  stroke: #aaa;
  stroke-dasharray: none;
  stroke-width: .5px
}

.axis :first-of-type circle {
  stroke: #333;
  stroke-dasharray: none;
}


.daylabel text {
  font: 4px sans-serif;
}