
.axis path, .axis line {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;
}

.y .tick text, .x .tick text{
    font-size:8px;
    fill: #666;    
    font-family: Tahoma, Geneva, sans-serif;
}

.climate-boundaries {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.city text{
    font-size:8px;
    fill: #666;    
    font-family: Tahoma, Geneva, sans-serif;
}