

.axis text {
  font: 10px sans-serif;
}

.axis path, .axis line, .axis circle, .outer-arc {
  fill: none;
  stroke: #ccc;
  stroke-width: 0.5px;
}


.analemma{
    fill: none;
}

.analemma.front{
    stroke: white;
    stroke-width: 2px;
}

.analemma.back{
    stroke: black;
    stroke-dasharray: 1,3;
}


path.valueline{
    stroke-width: 1px;
    fill: none;
}
